
.vs/IconResolutionMult/DesignTimeBuild/.dtbcache.v2
.vs/IconResolutionMult/v16/.suo
bin/Debug/net472/Aki.Common.dll
bin/Debug/net472/Aki.Reflection.dll
bin/Debug/net472/Assembly-CSharp.dll
bin/Debug/net472/com.JustNU.IconResolutionMult.dll
bin/Debug/net472/com.JustNU.IconResolutionMult.pdb
bin/Debug/net472/Comfort.dll
bin/Debug/net472/Sirenix.Serialization.dll
bin/Release/net472/Aki.Common.dll
bin/Release/net472/Aki.Reflection.dll
bin/Release/net472/Assembly-CSharp.dll
bin/Release/net472/com.JustNU.IconResolutionMult.dll
bin/Release/net472/com.JustNU.IconResolutionMult.pdb
bin/Release/net472/Comfort.dll
IconResolutionMult.sln
Libraries/0Harmony.dll
Libraries/Aki.Common.dll
Libraries/Aki.Reflection.dll
Libraries/Assembly-CSharp.dll
Libraries/BepInEx.dll
Libraries/Comfort.dll
Libraries/Sirenix.Serialization.dll
Libraries/UnityEngine.CoreModule.dll
Libraries/UnityEngine.dll
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/com.JustNU.IconResolutionMult.dll
obj/Debug/net472/com.JustNU.IconResolutionMult.pdb
obj/Debug/net472/IconResolutionMult.AssemblyInfo.cs
obj/Debug/net472/IconResolutionMult.AssemblyInfoInputs.cache
obj/Debug/net472/IconResolutionMult.assets.cache
obj/Debug/net472/IconResolutionMult.csproj.AssemblyReference.cache
obj/Debug/net472/IconResolutionMult.csproj.CoreCompileInputs.cache
obj/Debug/net472/IconResolutionMult.csproj.FileListAbsolute.txt
obj/Debug/net472/IconResolutionMult.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net472/MyPluginInfo.cs
obj/IconResolutionMult.csproj.nuget.dgspec.json
obj/IconResolutionMult.csproj.nuget.g.props
obj/IconResolutionMult.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Release/net472/com.JustNU.IconResolutionMult.dll
obj/Release/net472/com.JustNU.IconResolutionMult.pdb
obj/Release/net472/IconResolutionMult.AssemblyInfo.cs
obj/Release/net472/IconResolutionMult.AssemblyInfoInputs.cache
obj/Release/net472/IconResolutionMult.assets.cache
obj/Release/net472/IconResolutionMult.csproj.AssemblyReference.cache
obj/Release/net472/IconResolutionMult.csproj.CoreCompileInputs.cache
obj/Release/net472/IconResolutionMult.csproj.FileListAbsolute.txt
obj/Release/net472/IconResolutionMult.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net472/MyPluginInfo.cs
